body{
	background-color: rgba(250, 250, 250, 1);
}

.white-bg{
	background-color: white;
}

.NormalCharacterStyle{  
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size : 38px;  
	color : #0087FF;  
	color : rgb(0, 135, 255);
}

.border1{
	border-style : solid;	
	border-color : #E6E7E8;	
	border-color : rgba(230, 231, 232, 1);
	border-width : 1px;
}

.font1{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size : 34px;  
	color : #231F20;  
	color : rgb(0, 135, 255);
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

path {
	stroke: steelblue;
	stroke-width: 1;
	fill: none;
}

.axis {
  shape-rendering: crispEdges;
}
.x.axis line {
  stroke: lightgrey;
}
.x.axis .minor {
  stroke-opacity: .5;
}
.x.axis path {
  display: none;
}
.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}